<div class="filters">
    <form>
        <h2><strong>Filters</strong></h2>
        <div class="form-group">
          <label for="exampleInputEmail1">From</label>
          <input type="text" class="form-control" placeholder="From">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">To</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="To">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
</div>
